* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.header .align_content_header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  background-color: #fff;
}
.header .align_content_header .logo_img {
  width: 90px;
  padding: 8px;
}
.header .align_content_header .logo_img img {
  width: 100%;
}
.header .align_content_header .right_navigation {
  display: flex;
  align-items: center;
}
.header .align_content_header .right_navigation ul {
  display: flex;
  height: 90px;
}
.header .align_content_header .right_navigation ul li {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.header .align_content_header .right_navigation ul li a {
  color: #010101;
  padding: 0 24px;
}
.header .align_content_header .right_navigation ul li a.textSelected {
  color: blue;
}
.header .align_content_header .selected {
  border-bottom: 4px solid blue;
}

.main {
  background-color: #010101;
}
.main .thumb_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  width: 60vw;
  margin: 0 auto;
}

.hero_banner {
  position: relative;
  height: 500px;
  background-image: url("../images/jumbotron.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 24px;
}

.label {
  position: absolute;
  bottom: -1.5em;
  left: 15vw;
  background-color: blue;
}
.label span {
  font-size: 2em;
  color: #fff;
  padding: 0 16px;
  line-height: 1.5em;
}

.box_thumb {
  margin: 16px 0 16px;
  width: 9vw;
}

.img_thumb {
  height: 9vw;
  overflow: hidden;
}
.img_thumb img {
  width: 100%;
}

.box_thumb p {
  font-size: 0.9em;
  margin-top: 16px;
  color: #fff;
  text-transform: uppercase;
}

.social {
  background-color: #333;
}
.social .align_content_header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}
.social .align_content_header .logo_img {
  display: flex;
  align-items: center;
}
.social .align_content_header .logo_img a {
  color: #fff;
  padding: 8px 16px;
  border: 4px solid blue;
}
.social .align_content_header .right_navigation {
  display: flex;
  align-items: center;
}
.social .align_content_header .right_navigation ul {
  display: flex;
  height: 90px;
}
.social .align_content_header .right_navigation ul li {
  display: flex;
  align-items: center;
  padding: 0 8px;
}
.social .align_content_header .right_navigation ul li a {
  color: #fff;
}

.icon_strip {
  background-color: royalblue;
}
.icon_strip .align_all_icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 24px 0;
  width: 80%;
}
.icon_strip .component_box {
  display: flex;
  align-items: center;
  width: 20%;
}
.icon_strip .component_box img {
  width: 56px;
}
.icon_strip .component_box a {
  color: #fff;
  padding: 0 16px;
}

.main_footer {
  background-color: blue;
  background-image: url("../images/footer-bg.jpg");
}
.main_footer .footer_info {
  display: flex;
  margin: 0 auto;
  width: 80%;
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center right;
}
.main_footer .footer_info ul li:first-of-type {
  font-weight: 800;
  line-height: 48px;
}
.main_footer .footer_info ul li {
  color: #fff;
}
.main_footer .info_box {
  padding: 48px 24px 48px 0;
}